@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\000033}}
::selection {
  background: transparent;
  /* Safari */
  color: #00d2ff;
  text-shadow: 0 0 10px #00d2ff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\000038}}
::-moz-selection {
  background: transparent;
  /* Firefox */
  color: #00d2ff;
  text-shadow: 0 0 10px #00d2ff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000314}}
html, body {
  background-color: #121212;
  font-size: 14px;
  overflow-y: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000320}}
a {
  color: #878686;
  text-decoration: none;
  font-weight: bold;
}

/*header*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000328}}
#header {
  color: #eaeaea;
  background: #333333;
  /* Old browsers */
  background: -moz-linear-gradient(top, #333333 0%, #181818 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #181818));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #333333 0%, #181818 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #333333 0%, #181818 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #333333 0%, #181818 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #333333 0%, #181818 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#181818',GradientType=0 );
  /* IE6-9 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000341}}
#logo {
  float: left;
  display: block;
  position: relative;
  width: 118px;
  top: 9px;
  left: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000350}}
#header .right-side {
  float: right;
  text-shadow: 0 0px 4px black;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000356}}
#user-panel {
  position: absolute;
  right: 0;
  background-color: #282828;
  box-shadow: 0 8px 35px 5px black;
  z-index: 3;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000365}}
#header .container {
  overflow: hidden;
  border-bottom: 1px solid black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000370}}
#up-photo, #user-panel-hover {
  float: left;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  padding-left: 43px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000379}}
#up-photo {
  padding-left: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000383}}
#up-photo:hover, #user-panel-hover:hover, #up-photo.hover, #user-panel-hover.hover {
  text-shadow: 0 -1px 1px black;
  background: #7ac717;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7ac717 0%, #094e00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ac717), color-stop(100%, #094e00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7ac717 0%, #094e00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7ac717 0%, #094e00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7ac717 0%, #094e00 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #7ac717 0%, #094e00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ac717', endColorstr='#094e00',GradientType=0 );
  /* IE6-9 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000395}}
#up-photo.hover, #user-panel-hover.hover {
  box-shadow: 0 0 50px 2px rgba(255, 255, 255, 0.13), 0 0 1px 1px rgba(0, 0, 0, 0.4), 0 4px 15px rgba(0, 0, 0, 0.39) inset;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000399}}
#user-panel a {
  padding: 8px 16px;
  display: block;
  text-shadow: 0 1px 1px black;
  font-size: 90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003105}}
#user-panel a:hover {
  color: #c3c3c3;
  text-shadow: 0 0 16px rgba(255, 255, 255, 0.35);
  background-color: #3c3c3c;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

/*main*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003118}}
#main {
  border-top: 1px solid #343434;
  position: relative;
  overflow: hidden;
}

/*albums-panel*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003129}}
#albums-panel {
  background-color: #e5e5e9;
  width: 150px;
  background-image: url("../images/shadow1.png"), url("../images/bg_light.png");
  background-position: right top, center center;
  background-repeat: repeat-y, repeat;
  background-attachment: scroll, fixed;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003139}}
#albums {
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003142}}
#albums .album {
  padding-top: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003146}}
#albums .cover {
  background-color: #f8f8f9;
  width: 102px;
  padding: 7px;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.23);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003154}}
#albums .cover .coverImg {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  width: 102px;
  height: 102px;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003166}}
#albums .status {
  display: block;
  text-align: center;
  padding: 8px 0;
  font-size: 12px;
  font-weight: bold;
  color: #303030;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003176}}
#albums .album-name {
  display: block;
  text-align: center;
  margin-top: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003183}}
#albums .album.dragOver {
  background-color: #ADADAD;
  background-color: rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003188}}
#albums .album.active {
  background-image: url("../images/bg_album.png");
  -webkit-box-shadow: 0 1px 0 white, 0 1px 1px white, 0 3px 8px 2px rgba(0, 0, 0, 0.25) inset, 0 2px 20px 1px rgba(0, 0, 0, 0.14) inset, -7px 0 10px rgba(0, 0, 0, 0.21) inset, -1px 0 0 rgba(255, 255, 255, 0.16) inset;
  -moz-box-shadow: 0 1px 0 white, 0 1px 1px white, 0 3px 8px 2px rgba(0, 0, 0, 0.25) inset, 0 2px 20px 1px rgba(0, 0, 0, 0.14) inset, -7px 0 10px rgba(0, 0, 0, 0.21) inset, -1px 0 0 rgba(255, 255, 255, 0.16) inset;
  box-shadow: 0 1px 0 white, 0 1px 1px white, 0 3px 8px 2px rgba(0, 0, 0, 0.25) inset, 0 2px 20px 1px rgba(0, 0, 0, 0.14) inset, -7px 0 10px rgba(0, 0, 0, 0.21) inset, -1px 0 0 rgba(255, 255, 255, 0.16) inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003193}}
#albums .album.active .status {
  text-shadow: 0 1px 1px #242424;
  color: #f8f8f8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003200}}
#albums-panel .cover img {
  position: relative;
  display: block;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003210}}
#album-control-bar {
  overflow: hidden;
  border-top: 1px solid #bfbfbf;
  background: #f8f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f8f9f9 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f9f9), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8f9f9 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8f9f9 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8f9f9 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f8f9f9 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f9f9', endColorstr='#cccccc',GradientType=0 );
  /* IE6-9 */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003221}}
#album-control-bar span {
  display: block;
  font-size: 12px;
  cursor: pointer;
  padding: 10px 12px;
  text-shadow: 0 1px white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003231}}
#add-album {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003233}}
#add-album:hover {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003239}}
#remove-album {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003241}}
#remove-album:hover {
  font-weight: bold;
}

/*photos-panel*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003251}}
#photos-panel {
  background-image: url("../images/bg_mid.png");
  background-image: url("../images/shadow2.png"), url("../images/shadow3.png"), url("../images/bg_mid.png");
  background-repeat: repeat-y, repeat-x, repeat;
  background-position: right top, center top, center center;
  background-attachment: fixed;
  background-attachment: scroll, scroll, fixed;
  float: left;
  color: #e7e7e7;
  width: 375px;
  z-index: 100;
  height: auto !important;
  border-right: 1px solid #0e0e0f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003266}}
#photoCollections {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003271}}
#droparea {
  width: 100%;
  height: 100%;
  border: 4px dashed #818181;
  border-radius: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.04);
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003280}}
#droparea .text {
  line-height: 1.2;
  top: 40%;
  position: relative;
  text-shadow: 0 1px 1px black;
  text-align: center;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003289}}
#droparea .large {
  font-size: 40px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003294}}
#droparea .small {
  font-size: 17px;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003303}}
#photos-control-panel {
  width: 330px;
  margin: 0 auto;
  padding-top: 10px;
  text-shadow: 0 2px 1px black;
  font-weight: bold;
  font-size: 14px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003313}}
#album-name-input {
  width: 308px;
  padding: 7px 10px;
  border: 1px solid #252525;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 5px;
  text-shadow: 0 1px 1px black;
  outline: none;
  padding-top: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003324}}
#album-name-input:focus {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 0 8px 2px rgba(101, 184, 255, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 0 8px 2px rgba(101, 184, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 0 8px 2px rgba(101, 184, 255, 0.5);
  background: rgba(255, 255, 255, 0.18);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003331}}
#photos-control-panel .row {
  padding: 10px 0;
  display: block;
  line-height: 1.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003337}}
#preview, #upload-btn {
  color: white;
  padding-left: 38px;
  font-size: 12px;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.23s;
  -moz-transition: 0.23s;
  -o-transition: 0.23s;
  transition: 0.23s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003346}}
#delete-photo, #delete-photo-right {
  padding-left: 27px;
  font-size: 12px;
  position: relative;
  margin-left: 129px;
  cursor: pointer;
  color: white;
  -webkit-transition: 0.23s;
  -moz-transition: 0.23s;
  -o-transition: 0.23s;
  transition: 0.23s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003356}}
#preview:hover, #delete-photo:hover, #upload-btn:hover, #delete-photo-right:hover {
  text-shadow: 0 0 30px white;
}

/*Photos*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003363}}
.photoCollection .photo {
  position: relative;
  float: left;
  margin: 0 18px;
  padding-top: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003369}}
.photoCollection .photo img, .photoCollection .photo input, .photoCollection .photo span {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003373}}
.photoCollection .photo input {
  border: none;
  outline: none;
  text-shadow: 0 2px 1px black;
  padding: 5px 10px;
  width: 130px;
  margin: 8px 0;
  font-size: 13px;
  background-color: transparent;
  color: white;
  margin-bottom: 16px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003387}}
.photoCollection .photo img {
  border-radius: 5px;
  box-shadow: 0 3px 16px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003391}}
.photoCollection .photo img:hover {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003396}}
.photoCollection .photo.selectedElem img {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003402}}
.photoCollection {
  position: relative;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003405}}
.photoCollection .imgTable {
  display: table;
  width: 150px;
  height: 113px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003411}}
.photoCollection .imgCell {
  display: table-cell;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003416}}
.photoCollection img {
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003420}}
.photoCollection .filename {
  border-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003422}}
.photoCollection .filename:hover {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(86, 86, 86, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(86, 86, 86, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(86, 86, 86, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(86, 86, 86, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(86, 86, 86, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(86, 86, 86, 0.2) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#33565656',GradientType=0 );
  /* IE6-9 */
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.18), 0 6px 14px rgba(0, 0, 0, 0.2) inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003432}}
.photoCollection .filename:focus {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(68, 68, 68, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(68, 68, 68, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(68, 68, 68, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(68, 68, 68, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(68, 68, 68, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(68, 68, 68, 0.2) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#33444444',GradientType=0 );
  /* IE6-9 */
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 6px 14px rgba(0, 0, 0, 0.55) inset;
}

/*preview-panel*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003451}}
#preview-panel {
  position: absolute;
  background-image: url("../images/bg_dark.png");
  top: 0;
  right: 0;
  border-left: 1px solid #3c3c3e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003457}}
#preview-panel figcaption {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px 12px;
  padding-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003467}}
#uploadAreaContainer {
  height: 100%;
  width: 100%;
  background-image: url("../images/shadow4.png");
  background-repeat: repeat-x;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003483}}
#upload-control-panel {
  color: #E7E7E7;
  font-weight: bold;
  width: 334px;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
  margin-top: -10px;
  padding-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003495}}
#uploadArea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 4px dashed #818181;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.04);
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 1px black;
  line-height: 1.2;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003507}}
#uploadArea.active {
  border-color: #357cdd;
  color: #357cdd;
  text-shadow: 0 0 40px #448aea;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003512}}
#uploadArea .text {
  position: relative;
  top: 40%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003516}}
#uploadArea .small {
  display: block;
  text-align: center;
  font-size: 20px;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003523}}
#uploadArea .large {
  display: block;
  text-align: center;
  font-size: 40px;
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003533}}
#uploadedPhotos {
  position: relative;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003536}}
#uploadedPhotos .processbar {
  height: 7px;
  width: 100%;
  margin: 8px 0;
  margin-bottom: 34px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003545}}
#uploadedPhotos .currentbar {
  width: 0%;
  height: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.14);
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003556}}
#photoFiles {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003565}}
#preview-img {
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  box-shadow: 0 1px 35px rgba(0, 0, 0, 0.4);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003573}}
#imgContainer {
  position: relative;
  padding: 40px;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003587}}
.displayAstable {
  display: table;
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003592}}
.displayAsCell {
  display: table-cell;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003598}}
#countIcon {
  position: absolute;
  top: 33px;
  left: 30px;
  border-radius: 60px;
  width: 30px;
  height: 30px;
  border: 3px solid white;
  text-align: center;
  line-height: 2.3;
  font-weight: bold;
  color: white;
  -webkit-box-shadow: 0 2px 14px 1px black;
  -moz-box-shadow: 0 2px 14px 1px black;
  box-shadow: 0 2px 14px 1px black;
  background: #f85959;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f85959 0%, #cc0e0e 96%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f85959), color-stop(96%, #cc0e0e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f85959 0%, #cc0e0e 96%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f85959 0%, #cc0e0e 96%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f85959 0%, #cc0e0e 96%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f85959 0%, #cc0e0e 96%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85959', endColorstr='#cc0e0e',GradientType=0 );
  /* IE6-9 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003623}}
#countIconContainer {
  display: none;
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 999;
}

/*animate.css*/
@-webkit-keyframes flipInX {
  /* line 633, ../sass/index.scss */
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 638, ../sass/index.scss */
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 642, ../sass/index.scss */
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
  }

  /* line 646, ../sass/index.scss */
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-moz-keyframes flipInX {
  /* line 652, ../sass/index.scss */
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 657, ../sass/index.scss */
  40% {
    -moz-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 661, ../sass/index.scss */
  70% {
    -moz-transform: perspective(400px) rotateX(10deg);
  }

  /* line 665, ../sass/index.scss */
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-o-keyframes flipInX {
  /* line 671, ../sass/index.scss */
  0% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 676, ../sass/index.scss */
  40% {
    -o-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 680, ../sass/index.scss */
  70% {
    -o-transform: perspective(400px) rotateX(10deg);
  }

  /* line 684, ../sass/index.scss */
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  /* line 690, ../sass/index.scss */
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 695, ../sass/index.scss */
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }

  /* line 699, ../sass/index.scss */
  70% {
    transform: perspective(400px) rotateX(10deg);
  }

  /* line 703, ../sass/index.scss */
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003709}}
.flipInX {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003720}}
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
