@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\000033}}
::selection {
  background: transparent;
  /* Safari */
  color: #00d2ff;
  text-shadow: 0 0 10px #00d2ff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\000038}}
::-moz-selection {
  background: transparent;
  /* Firefox */
  color: #00d2ff;
  text-shadow: 0 0 10px #00d2ff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000314}}
html, body {
  background-color: #121212;
  font-size: 14px;
  overflow-y: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000320}}
a {
  color: #878686;
  text-decoration: none;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000326}}
#mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.56);
  left: 0;
  top: 0;
  z-index: 100;
}

/*header*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000337}}
#header {
  color: #eaeaea;
  background: #333333;
  /* Old browsers */
  background: -moz-linear-gradient(top, #333333 0%, #181818 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #181818));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #333333 0%, #181818 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #333333 0%, #181818 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #333333 0%, #181818 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #333333 0%, #181818 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#181818',GradientType=0 );
  /* IE6-9 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000350}}
#logo {
  float: left;
  display: block;
  position: relative;
  width: 118px;
  top: 9px;
  left: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000359}}
#header .right-side {
  float: right;
  text-shadow: 0 0px 4px black;
  font-weight: bold;
  font-size: 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000366}}
#user-panel {
  position: absolute;
  display: none;
  top: 51px;
  right: 10px;
  width: 270px;
  z-index: 3;
  background-color: #EFEFEF;
  border-radius: 5px 5px 8px 8px;
  box-shadow: black 0px 3px 10px 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000376}}
#user-panel > .base {
  padding: 1.6em 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000378}}
#user-panel > .base li {
  margin-top: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000381}}
#user-panel > .base li.first {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000385}}
#user-panel > .btnGroup {
  padding: 1.6em 1.4em;
  border-bottom: 1px solid #dbdbdb;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000389}}
#user-panel > .btnGroup .ok {
  margin-right: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\0000392}}
#user-panel > .btnGroup .ok, #user-panel > .btnGroup .cancel {
  display: block;
  padding: 0.8em 1em;
  color: #fafafa;
  float: left;
  width: 78px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #6bb60a;
  background-color: #77C700;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003105}}
#user-panel > .btnGroup .ok:hover, #user-panel > .btnGroup .cancel:hover {
  border: 1px solid #6bb60a;
  background-color: #85DF00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003111}}
#user-panel h3 {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 18px;
  font-weight: normal;
  color: #6B6B6B;
  border-left: 4px solid #8f8f8f;
  padding-left: 0.5em;
  line-height: 1.3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003121}}
#user-panel input {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  outline: none;
  display: block;
  padding: 0.8em 1em;
  font-size: 14px;
  border-radius: 5px;
  background-color: #F4F4F4;
  border: 1px solid #d8d8d8;
  color: #5A5A5A;
  width: 200px;
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003133}}
#user-panel input:focus {
  box-shadow: 0 0 5px #9eee94;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003137}}
#user-panel #logout {
  color: #D8D8D8;
  padding: 1em 0;
  display: block;
  text-shadow: 0 1px 1px black;
  font-size: 90%;
  border-radius: 0 0 5px 5px;
  text-align: center;
  border-top: 1px solid #efefef;
  background: #5c5c5c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5c5c5c 0%, #323232 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c5c5c), color-stop(100%, #323232));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5c5c5c 0%, #323232 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5c5c5c 0%, #323232 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5c5c5c 0%, #323232 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #5c5c5c 0%, #323232 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5c5c', endColorstr='#323232',GradientType=0 );
  /* IE6-9 */
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003155}}
#user-panel #logout:hover {
  color: #E4E4E4;
  text-shadow: 0 0 16px rgba(255, 255, 255, 0.35);
  background-color: #3c3c3c;
  box-shadow: 0 55px 15px rgba(0, 0, 0, 0.3) inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003162}}
#user-panel .triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 12.5px 20px 12.5px;
  border-color: transparent transparent #efefef transparent;
  position: absolute;
  top: -15px;
  left: 206px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003174}}
#header .container {
  overflow: hidden;
  border-bottom: 1px solid black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003179}}
#up-photo, #user-panel-hover {
  float: left;
  padding: 12px 20px;
  position: relative;
  cursor: pointer;
  padding-left: 43px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003188}}
#up-photo {
  padding-left: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003192}}
#up-photo:hover, #user-panel-hover:hover, #up-photo.active, #user-panel-hover.active {
  text-shadow: 0 -1px 1px black;
  background: #5DA500;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5da500 0%, #094e00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5da500), color-stop(100%, #094e00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5da500 0%, #094e00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5da500 0%, #094e00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5da500 0%, #094e00 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #5da500 0%, #094e00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5DA500', endColorstr='#094e00',GradientType=0 );
  /* IE6-9 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003204}}
#up-photo.active, #user-panel-hover.active {
  box-shadow: 0 0 50px 2px rgba(255, 255, 255, 0.01), 0 0 1px 1px rgba(0, 0, 0, 0.4), 0 4px 15px rgba(0, 0, 0, 0.71) inset;
  background: #5DA500;
  /* Old browsers */
  background: -moz-linear-gradient(top, #094e00 0%, #0d6d00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #094e00), color-stop(100%, #0d6d00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #094e00 0%, #0d6d00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #094e00 0%, #0d6d00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #094e00 0%, #0d6d00 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #094e00 0%, #0d6d00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#094E00', endColorstr='#0D6D00',GradientType=0 );
  /* IE6-9 */
}

/*main*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003221}}
#main {
  border-top: 1px solid #343434;
  position: relative;
  overflow: hidden;
}

/*albums-panel*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003232}}
#albums-panel {
  background-color: #e5e5e9;
  width: 150px;
  background-image: url("../images/shadow1.png"), url("../images/bg_light.png");
  background-position: right top, center center;
  background-repeat: repeat-y, repeat;
  background-attachment: scroll, fixed;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003242}}
#albums {
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003245}}
#albums .album {
  padding-top: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003249}}
#albums .cover {
  background-color: #f8f8f9;
  width: 102px;
  padding: 7px;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.23);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003257}}
#albums .cover .coverImg {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  width: 102px;
  height: 102px;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003270}}
#albums .status {
  display: block;
  text-align: center;
  padding: 8px 0;
  font-size: 12px;
  font-weight: bold;
  color: #303030;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003280}}
#albums .album-name {
  display: block;
  text-align: center;
  margin-top: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003287}}
#albums .album.dragOver {
  background-color: #ADADAD;
  background-color: rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003292}}
#albums .album.active {
  background-image: url("../images/bg_album.png");
  -webkit-box-shadow: 0 1px 0 white, 0 1px 1px white, 0 3px 8px 2px rgba(0, 0, 0, 0.25) inset, 0 2px 20px 1px rgba(0, 0, 0, 0.14) inset, -7px 0 10px rgba(0, 0, 0, 0.21) inset, -1px 0 0 rgba(255, 255, 255, 0.16) inset;
  -moz-box-shadow: 0 1px 0 white, 0 1px 1px white, 0 3px 8px 2px rgba(0, 0, 0, 0.25) inset, 0 2px 20px 1px rgba(0, 0, 0, 0.14) inset, -7px 0 10px rgba(0, 0, 0, 0.21) inset, -1px 0 0 rgba(255, 255, 255, 0.16) inset;
  box-shadow: 0 1px 0 white, 0 1px 1px white, 0 3px 8px 2px rgba(0, 0, 0, 0.25) inset, 0 2px 20px 1px rgba(0, 0, 0, 0.14) inset, -7px 0 10px rgba(0, 0, 0, 0.21) inset, -1px 0 0 rgba(255, 255, 255, 0.16) inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003297}}
#albums .album.active .status {
  text-shadow: 0 1px 1px #242424;
  color: #f8f8f8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003304}}
#albums-panel .cover img {
  position: relative;
  display: block;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003314}}
#album-control-bar {
  overflow: hidden;
  border-top: 1px solid #bfbfbf;
  background: #f8f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f8f9f9 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f9f9), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8f9f9 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8f9f9 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8f9f9 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f8f9f9 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f9f9', endColorstr='#cccccc',GradientType=0 );
  /* IE6-9 */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003325}}
#album-control-bar span {
  display: block;
  font-size: 12px;
  cursor: pointer;
  padding: 10px 12px;
  text-shadow: 0 1px white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003335}}
#add-album {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003337}}
#add-album:hover {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003343}}
#remove-album {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003345}}
#remove-album:hover {
  font-weight: bold;
}

/*photos-panel*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003355}}
#photos-panel {
  background-image: url("../images/bg_mid.png");
  background-image: url("../images/shadow2.png"), url("../images/shadow3.png"), url("../images/bg_mid.png");
  background-repeat: repeat-y, repeat-x, repeat;
  background-position: right top, center top, center center;
  background-attachment: fixed;
  background-attachment: scroll, scroll, fixed;
  float: left;
  color: #e7e7e7;
  width: 375px;
  z-index: 100;
  height: auto !important;
  border-right: 1px solid #0e0e0f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003370}}
#photoCollections {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003375}}
#droparea {
  width: 100%;
  height: 100%;
  border: 4px dashed #818181;
  border-radius: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.04);
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003384}}
#droparea .text {
  line-height: 1.2;
  top: 40%;
  position: relative;
  text-shadow: 0 1px 1px black;
  text-align: center;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003393}}
#droparea .large {
  font-size: 40px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003398}}
#droparea .small {
  font-size: 17px;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003407}}
#photos-control-panel {
  width: 330px;
  margin: 0 auto;
  padding-top: 10px;
  text-shadow: 0 2px 1px black;
  font-weight: bold;
  font-size: 14px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003417}}
#album-name-input {
  width: 308px;
  padding: 7px 10px;
  border: 1px solid #252525;
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 5px;
  text-shadow: 0 1px 1px black;
  outline: none;
  padding-top: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003429}}
#album-name-input:focus {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 0 8px 2px rgba(101, 184, 255, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 0 8px 2px rgba(101, 184, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 0 8px 2px rgba(101, 184, 255, 0.5);
  background: rgba(255, 255, 255, 0.18);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003436}}
#photos-control-panel .row {
  padding: 10px 0;
  display: block;
  line-height: 1.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003442}}
#preview, #upload-btn {
  color: white;
  padding-left: 38px;
  font-size: 12px;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.23s;
  -moz-transition: 0.23s;
  -o-transition: 0.23s;
  transition: 0.23s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003453}}
#delete-photo, #delete-photo-right {
  padding-left: 27px;
  font-size: 12px;
  position: relative;
  margin-left: 129px;
  cursor: pointer;
  color: white;
  -webkit-transition: 0.23s;
  -moz-transition: 0.23s;
  -o-transition: 0.23s;
  transition: 0.23s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003463}}
#preview:hover, #delete-photo:hover, #upload-btn:hover, #delete-photo-right:hover {
  text-shadow: 0 0 30px white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003467}}
#preview.icon-eye.disabled, #delete-photo.icon-cancel.disabled {
  text-shadow: 0 1px 1px #0e0e0e;
  color: #575757;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003471}}
#preview.icon-eye.disabled::before, #delete-photo.icon-cancel.disabled::before {
  color: #575757;
}

/*Photos*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003478}}
.photoCollection .photo, .alternative.photo {
  position: relative;
  float: left;
  margin: 0 18px;
  padding-top: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003484}}
.photoCollection .photo img, .photoCollection .photo input, .photoCollection .photo span, .alternative.photo img, .alternative.photo input, .alternative.photo span {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003488}}
.photoCollection .photo input, .alternative.photo input {
  border: none;
  outline: none;
  text-shadow: 0 2px 1px black;
  padding: 5px 10px;
  width: 130px;
  margin: 8px 0;
  font-size: 13px;
  background-color: transparent;
  color: white;
  margin-bottom: 16px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003502}}
.photoCollection .photo img, .alternative.photo img {
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 3px 16px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003507}}
.photoCollection .photo img:hover, .alternative.photo img:hover {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003512}}
.photoCollection .photo.selectedElem img, .alternative.photo.selectedElem img {
  -webkit-box-shadow: 0 0 0px 4px rgba(0, 0, 0, 0.4), 0 0 0 7px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 0 0px 4px rgba(0, 0, 0, 0.4), 0 0 0 7px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0px 4px rgba(0, 0, 0, 0.4), 0 0 0 7px rgba(255, 255, 255, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003516}}
.photoCollection .photo .imgTable, .alternative.photo .imgTable {
  display: table;
  width: 150px;
  height: 113px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003522}}
.photoCollection .photo .imgCell, .alternative.photo .imgCell {
  display: table-cell;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003527}}
.photoCollection .photo .img-placeholder, .alternative.photo .img-placeholder {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.04);
  z-index: 10;
  border-radius: 5px;
  border: 2px dashed #5a5a5a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003535}}
.photoCollection .photo .img-placeholder::before, .alternative.photo .img-placeholder::before {
  content: "uploading";
  color: rgba(255, 255, 255, 0.46);
  text-align: center;
  display: block;
  vertical-align: middle;
  margin-top: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003546}}
.photoCollection .photo .filename, .alternative.photo .filename {
  border-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003548}}
.photoCollection .photo .filename:hover, .alternative.photo .filename:hover {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(86, 86, 86, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(86, 86, 86, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(86, 86, 86, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(86, 86, 86, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(86, 86, 86, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(86, 86, 86, 0.2) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#33565656',GradientType=0 );
  /* IE6-9 */
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.18), 0 6px 14px rgba(0, 0, 0, 0.2) inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003558}}
.photoCollection .photo .filename:focus, .alternative.photo .filename:focus {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(68, 68, 68, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(68, 68, 68, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(68, 68, 68, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(68, 68, 68, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(68, 68, 68, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(68, 68, 68, 0.2) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#33444444',GradientType=0 );
  /* IE6-9 */
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 6px 14px rgba(0, 0, 0, 0.55) inset;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003574}}
.alternative.photo img {
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.35) !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003577}}
.alternative.photo input {
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.35) !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003582}}
.photoCollection {
  position: relative;
  height: 100%;
}

/*preview-panel*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003593}}
#preview-panel {
  position: absolute;
  background-image: url("../images/bg_dark.png");
  top: 0;
  right: 0;
  border-left: 1px solid #3c3c3e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003599}}
#preview-panel figcaption {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px 12px;
  padding-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003609}}
#uploadAreaContainer {
  height: 100%;
  width: 100%;
  background-image: url("../images/shadow4.png");
  background-repeat: repeat-x;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  padding: 20px;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003618}}
#uploadAreaContainer.dragOver {
  -webkit-box-shadow: 0 0 90px 7px rgba(0, 0, 0, 0.66) inset;
  -moz-box-shadow: 0 0 90px 7px rgba(0, 0, 0, 0.66) inset;
  box-shadow: 0 0 90px 7px rgba(0, 0, 0, 0.66) inset;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003625}}
#upload-control-panel {
  color: #E7E7E7;
  font-weight: bold;
  width: 334px;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
  margin-top: -10px;
  padding-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003637}}
#uploadArea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 4px dashed #818181;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.04);
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 1px black;
  line-height: 1.2;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003650}}
#uploadArea.active {
  border-color: #39810A;
  color: #39810A;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003654}}
#uploadArea .text {
  position: relative;
  top: 40%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003657}}
#uploadArea .text.dragOver {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003661}}
#uploadArea .small {
  display: block;
  text-align: center;
  font-size: 20px;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003668}}
#uploadArea .large {
  display: block;
  text-align: center;
  font-size: 40px;
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003678}}
#uploadedPhotos {
  position: relative;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003681}}
#uploadedPhotos .processbar {
  height: 7px;
  width: 100%;
  margin: 8px 0;
  margin-bottom: 34px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003690}}
#uploadedPhotos .currentbar {
  width: 0%;
  height: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.14);
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003701}}
#photoFiles {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003710}}
#preview-img {
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  box-shadow: 0 1px 35px rgba(0, 0, 0, 0.4);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003718}}
#imgContainer {
  position: relative;
  padding: 40px;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003732}}
.displayAstable {
  display: table;
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003737}}
.displayAsCell {
  display: table-cell;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003743}}
#countIcon {
  position: absolute;
  top: 33px;
  left: 30px;
  border-radius: 60px;
  width: 30px;
  height: 30px;
  border: 3px solid white;
  text-align: center;
  line-height: 2.3;
  font-weight: bold;
  color: white;
  -webkit-box-shadow: 0 2px 14px 1px black;
  -moz-box-shadow: 0 2px 14px 1px black;
  box-shadow: 0 2px 14px 1px black;
  background: #f85959;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f85959 0%, #cc0e0e 96%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f85959), color-stop(96%, #cc0e0e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f85959 0%, #cc0e0e 96%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f85959 0%, #cc0e0e 96%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f85959 0%, #cc0e0e 96%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f85959 0%, #cc0e0e 96%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85959', endColorstr='#cc0e0e',GradientType=0 );
  /* IE6-9 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003768}}
#countIconContainer {
  display: none;
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 999;
}

/*animate.css*/
@-webkit-keyframes flipInX {
  /* line 778, ../sass/index.scss */
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 783, ../sass/index.scss */
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 787, ../sass/index.scss */
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
  }

  /* line 791, ../sass/index.scss */
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-moz-keyframes flipInX {
  /* line 797, ../sass/index.scss */
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 802, ../sass/index.scss */
  40% {
    -moz-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 806, ../sass/index.scss */
  70% {
    -moz-transform: perspective(400px) rotateX(10deg);
  }

  /* line 810, ../sass/index.scss */
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-o-keyframes flipInX {
  /* line 816, ../sass/index.scss */
  0% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 821, ../sass/index.scss */
  40% {
    -o-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 825, ../sass/index.scss */
  70% {
    -o-transform: perspective(400px) rotateX(10deg);
  }

  /* line 829, ../sass/index.scss */
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  /* line 835, ../sass/index.scss */
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 840, ../sass/index.scss */
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }

  /* line 844, ../sass/index.scss */
  70% {
    transform: perspective(400px) rotateX(10deg);
  }

  /* line 848, ../sass/index.scss */
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003854}}
.flipInX {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/index\.scss}line{font-family:\00003865}}
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tutorial\/\*\.png}line{font-family:\0000374}}
.tutorial-sprite, #t_step1, #t_step2, #t_step3, #t_step4, .t_btn {
  background: url('../images/tutorial-s190da4f924.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/_tutorial\.scss}line{font-family:\000034}}
#t_step1, #t_step2, #t_step3, #t_step4 {
  position: absolute;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/_tutorial\.scss}line{font-family:\0000311}}
#t_step1 {
  background-position: 0 -500px;
  height: 225px;
  width: 289px;
  left: 510px;
  top: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/_tutorial\.scss}line{font-family:\0000317}}
#t_step2 {
  top: 190px;
  left: 110px;
  background-position: 0 -725px;
  height: 117px;
  width: 373px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/_tutorial\.scss}line{font-family:\0000323}}
#t_step3 {
  top: 136px;
  background-position: 0 0;
  height: 360px;
  width: 431px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/_tutorial\.scss}line{font-family:\0000326}}
#t_step3 .t_btn {
  left: 410px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/_tutorial\.scss}line{font-family:\0000331}}
#t_step4 {
  top: 187px;
  background-position: 0 -360px;
  height: 140px;
  width: 632px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/_tutorial\.scss}line{font-family:\0000336}}
.t_btn {
  position: absolute;
  left: 180px;
  top: 157px;
  cursor: pointer;
  opacity: 0.5;
  background-position: 0 -842px;
  height: 103px;
  width: 137px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/management_center\/sass\/_tutorial\.scss}line{font-family:\0000344}}
.t_btn:hover {
  opacity: 1;
  -webkit-transform: rotateZ(6deg);
  -moz-transform: rotateZ(6deg);
  -ms-transform: rotateZ(6deg);
  -o-transform: rotateZ(6deg);
  transform: rotateZ(6deg);
}
