@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\000036}}
html, body {
  height: 100%;
  width: 100%;
  background-color: #54a6bc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000312}}
#wrapper {
  position: relative;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000317}}
h1, p {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000322}}
input[type="text"], input[type="password"] {
  outline: none;
  padding: 13px 10px;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  color: #3D3D3D;
  margin-top: 0;
  margin-bottom: 16px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000334}}
input:focus {
  -webkit-box-shadow: 0 0 5px #b9ff5e;
  -moz-box-shadow: 0 0 5px #b9ff5e;
  box-shadow: 0 0 5px #b9ff5e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000338}}
a:visited {
  color: #919191;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000342}}
button {
  background-color: #7ac717;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #6bb60a;
  outline: none;
  color: #fafafa;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 30px;
  margin: 0;
  margin-bottom: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000354}}
button:hover {
  background-color: #81d11b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000357}}
button:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.32) inset;
  background-color: #75c212;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000363}}
#options {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000367}}
#form-container {
  position: relative;
  overflow: hidden;
  height: 280px;
  width: 376px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000372}}
#form-container .left {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000375}}
#form-container .right {
  position: relative;
  border-left: 1px solid #fdfdfd;
  background-color: #f7f7f7;
  float: left;
  width: 215px;
  height: 230px;
  padding: 25px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000385}}
#form-container .right input {
  width: 193px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000389}}
#form-container .triangle {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 17.5px 17px 17.5px 0;
  border-color: transparent #f7f7f7 transparent transparent;
  top: 52px;
  left: 94px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\0000399}}
#form-container .triangle.bottom {
  top: 192px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003105}}
#form-wrapper {
  width: 376px;
  float: right;
  -webkit-box-shadow: 0 0 1px 5px rgba(255, 255, 255, 0.35);
  -moz-box-shadow: 0 0 1px 5px rgba(255, 255, 255, 0.35);
  box-shadow: 0 0 1px 5px rgba(255, 255, 255, 0.35);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003109}}
#form-wrapper .error-message {
  position: relative;
  padding: 0.8em 1em;
  font-size: 12px;
  text-align: center;
  color: #F00;
  font-weight: bold;
  background-color: #FFE8E8;
  border-bottom: 1px solid #e7e7e7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003121}}
#title {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003125}}
#login-tab, #sign-up-tab {
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  color: #606060;
  width: 110px;
  height: 140px;
  background-color: #ECECEC;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003136}}
#login-tab.actived, #sign-up-tab.actived {
  color: #fafafa;
  font-weight: bold;
  background-color: #7ac717;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 10px 0 0 #5a9f00 inset;
  -moz-box-shadow: 10px 0 0 #5a9f00 inset;
  box-shadow: 10px 0 0 #5a9f00 inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003144}}
#login-tab.unactived:hover, #sign-up-tab.unactived:hover {
  -webkit-box-shadow: 130px 0 0 #a8e05f inset;
  -moz-box-shadow: 130px 0 0 #a8e05f inset;
  box-shadow: 130px 0 0 #a8e05f inset;
  color: #fafafa;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003150}}
#login-tab span, #sign-up-tab span {
  position: absolute;
  top: 84px;
  left: 0;
  display: block;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003161}}
#options ul {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  color: #707070;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003167}}
#options ul #remember_me {
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003170}}
#options ul li {
  line-height: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003176}}
#forms {
  position: absolute;
  top: 25px;
  left: 25px;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003183}}
#forms.sign-up {
  top: -237px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003186}}
#forms .passed {
  background-color: #E7FFD7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003191}}
#header {
  padding: 20px;
  overflow: hidden;
  width: 870px;
  margin: 0 auto;
  position: relative;
  top: 20%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003200}}
#title {
  color: white;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.55);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/home\/sass\/index\.scss}line{font-family:\00003203}}
#title h1 {
  font-size: 48px;
  padding-top: 18px;
  padding-bottom: 8px;
}
