/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 76, ../../sass/partials/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 86, ../../sass/partials/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 97, ../../sass/partials/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 107, ../../sass/partials/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 123, ../../sass/partials/_reset.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 137, ../../sass/partials/_reset.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 145, ../../sass/partials/_reset.scss */
body {
  margin: 0;
  line-height: 1.5;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 159, ../../sass/partials/_reset.scss */
a:focus {
  outline: 0;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 169, ../../sass/partials/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 183, ../../sass/partials/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 188, ../../sass/partials/_reset.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 193, ../../sass/partials/_reset.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 198, ../../sass/partials/_reset.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 203, ../../sass/partials/_reset.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 208, ../../sass/partials/_reset.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 217, ../../sass/partials/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 226, ../../sass/partials/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 230, ../../sass/partials/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 238, ../../sass/partials/_reset.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 246, ../../sass/partials/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 256, ../../sass/partials/_reset.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 268, ../../sass/partials/_reset.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 278, ../../sass/partials/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 291, ../../sass/partials/_reset.scss */
q {
  quotes: none;
}

/* 2 */
/* line 298, ../../sass/partials/_reset.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 303, ../../sass/partials/_reset.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 313, ../../sass/partials/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 320, ../../sass/partials/_reset.scss */
sup {
  top: -0.5em;
}

/* line 324, ../../sass/partials/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 340, ../../sass/partials/_reset.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 344, ../../sass/partials/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 354, ../../sass/partials/_reset.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 363, ../../sass/partials/_reset.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 379, ../../sass/partials/_reset.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 388, ../../sass/partials/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 401, ../../sass/partials/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 414, ../../sass/partials/_reset.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 422, ../../sass/partials/_reset.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 434, ../../sass/partials/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 450, ../../sass/partials/_reset.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 462, ../../sass/partials/_reset.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 476, ../../sass/partials/_reset.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 487, ../../sass/partials/_reset.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 499, ../../sass/partials/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 511, ../../sass/partials/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 523, ../../sass/partials/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 533, ../../sass/partials/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 543, ../../sass/partials/_reset.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 557, ../../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*   独自のリセット  */
/*font-family*/
/*------------------------------------------------------------------------------*/
/* line 567, ../../sass/partials/_reset.scss */
body, textarea {
  font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

/* line 568, ../../sass/partials/_reset.scss */
input, select {
  font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
}

/*------------------------------------------------------------------------------*/
/*utility*/
/*------------------------------------------------------------------------------*/
/* line 5, ../../sass/partials/_reset.scss */
.pt5 {
  padding-top: 5px;
}

/* line 8, ../../sass/partials/_reset.scss */
.pr5 {
  padding-right: 5px;
}

/* line 11, ../../sass/partials/_reset.scss */
.pb5 {
  padding-bottom: 5px;
}

/* line 14, ../../sass/partials/_reset.scss */
.pl5 {
  padding-left: 5px;
}

/* line 17, ../../sass/partials/_reset.scss */
.ptb5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 21, ../../sass/partials/_reset.scss */
.plr5 {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 5, ../../sass/partials/_reset.scss */
.pt10 {
  padding-top: 10px;
}

/* line 8, ../../sass/partials/_reset.scss */
.pr10 {
  padding-right: 10px;
}

/* line 11, ../../sass/partials/_reset.scss */
.pb10 {
  padding-bottom: 10px;
}

/* line 14, ../../sass/partials/_reset.scss */
.pl10 {
  padding-left: 10px;
}

/* line 17, ../../sass/partials/_reset.scss */
.ptb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 21, ../../sass/partials/_reset.scss */
.plr10 {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 5, ../../sass/partials/_reset.scss */
.pt15 {
  padding-top: 15px;
}

/* line 8, ../../sass/partials/_reset.scss */
.pr15 {
  padding-right: 15px;
}

/* line 11, ../../sass/partials/_reset.scss */
.pb15 {
  padding-bottom: 15px;
}

/* line 14, ../../sass/partials/_reset.scss */
.pl15 {
  padding-left: 15px;
}

/* line 17, ../../sass/partials/_reset.scss */
.ptb15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 21, ../../sass/partials/_reset.scss */
.plr15 {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 5, ../../sass/partials/_reset.scss */
.pt20 {
  padding-top: 20px;
}

/* line 8, ../../sass/partials/_reset.scss */
.pr20 {
  padding-right: 20px;
}

/* line 11, ../../sass/partials/_reset.scss */
.pb20 {
  padding-bottom: 20px;
}

/* line 14, ../../sass/partials/_reset.scss */
.pl20 {
  padding-left: 20px;
}

/* line 17, ../../sass/partials/_reset.scss */
.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 21, ../../sass/partials/_reset.scss */
.plr20 {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 5, ../../sass/partials/_reset.scss */
.pt25 {
  padding-top: 25px;
}

/* line 8, ../../sass/partials/_reset.scss */
.pr25 {
  padding-right: 25px;
}

/* line 11, ../../sass/partials/_reset.scss */
.pb25 {
  padding-bottom: 25px;
}

/* line 14, ../../sass/partials/_reset.scss */
.pl25 {
  padding-left: 25px;
}

/* line 17, ../../sass/partials/_reset.scss */
.ptb25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 21, ../../sass/partials/_reset.scss */
.plr25 {
  padding-left: 25px;
  padding-right: 25px;
}

/* line 5, ../../sass/partials/_reset.scss */
.pt30 {
  padding-top: 30px;
}

/* line 8, ../../sass/partials/_reset.scss */
.pr30 {
  padding-right: 30px;
}

/* line 11, ../../sass/partials/_reset.scss */
.pb30 {
  padding-bottom: 30px;
}

/* line 14, ../../sass/partials/_reset.scss */
.pl30 {
  padding-left: 30px;
}

/* line 17, ../../sass/partials/_reset.scss */
.ptb30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 21, ../../sass/partials/_reset.scss */
.plr30 {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 5, ../../sass/partials/_reset.scss */
.pt35 {
  padding-top: 35px;
}

/* line 8, ../../sass/partials/_reset.scss */
.pr35 {
  padding-right: 35px;
}

/* line 11, ../../sass/partials/_reset.scss */
.pb35 {
  padding-bottom: 35px;
}

/* line 14, ../../sass/partials/_reset.scss */
.pl35 {
  padding-left: 35px;
}

/* line 17, ../../sass/partials/_reset.scss */
.ptb35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

/* line 21, ../../sass/partials/_reset.scss */
.plr35 {
  padding-left: 35px;
  padding-right: 35px;
}

/* line 5, ../../sass/partials/_reset.scss */
.pt40 {
  padding-top: 40px;
}

/* line 8, ../../sass/partials/_reset.scss */
.pr40 {
  padding-right: 40px;
}

/* line 11, ../../sass/partials/_reset.scss */
.pb40 {
  padding-bottom: 40px;
}

/* line 14, ../../sass/partials/_reset.scss */
.pl40 {
  padding-left: 40px;
}

/* line 17, ../../sass/partials/_reset.scss */
.ptb40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 21, ../../sass/partials/_reset.scss */
.plr40 {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 5, ../../sass/partials/_reset.scss */
.pt45 {
  padding-top: 45px;
}

/* line 8, ../../sass/partials/_reset.scss */
.pr45 {
  padding-right: 45px;
}

/* line 11, ../../sass/partials/_reset.scss */
.pb45 {
  padding-bottom: 45px;
}

/* line 14, ../../sass/partials/_reset.scss */
.pl45 {
  padding-left: 45px;
}

/* line 17, ../../sass/partials/_reset.scss */
.ptb45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

/* line 21, ../../sass/partials/_reset.scss */
.plr45 {
  padding-left: 45px;
  padding-right: 45px;
}

/* line 5, ../../sass/partials/_reset.scss */
.pt50 {
  padding-top: 50px;
}

/* line 8, ../../sass/partials/_reset.scss */
.pr50 {
  padding-right: 50px;
}

/* line 11, ../../sass/partials/_reset.scss */
.pb50 {
  padding-bottom: 50px;
}

/* line 14, ../../sass/partials/_reset.scss */
.pl50 {
  padding-left: 50px;
}

/* line 17, ../../sass/partials/_reset.scss */
.ptb50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 21, ../../sass/partials/_reset.scss */
.plr50 {
  padding-left: 50px;
  padding-right: 50px;
}

/* line 5, ../../sass/partials/_reset.scss */
.pt55 {
  padding-top: 55px;
}

/* line 8, ../../sass/partials/_reset.scss */
.pr55 {
  padding-right: 55px;
}

/* line 11, ../../sass/partials/_reset.scss */
.pb55 {
  padding-bottom: 55px;
}

/* line 14, ../../sass/partials/_reset.scss */
.pl55 {
  padding-left: 55px;
}

/* line 17, ../../sass/partials/_reset.scss */
.ptb55 {
  padding-top: 55px;
  padding-bottom: 55px;
}

/* line 21, ../../sass/partials/_reset.scss */
.plr55 {
  padding-left: 55px;
  padding-right: 55px;
}

/* line 5, ../../sass/partials/_reset.scss */
.pt60 {
  padding-top: 60px;
}

/* line 8, ../../sass/partials/_reset.scss */
.pr60 {
  padding-right: 60px;
}

/* line 11, ../../sass/partials/_reset.scss */
.pb60 {
  padding-bottom: 60px;
}

/* line 14, ../../sass/partials/_reset.scss */
.pl60 {
  padding-left: 60px;
}

/* line 17, ../../sass/partials/_reset.scss */
.ptb60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* line 21, ../../sass/partials/_reset.scss */
.plr60 {
  padding-left: 60px;
  padding-right: 60px;
}

/* line 32, ../../sass/partials/_reset.scss */
.mt5 {
  margin-top: 5px;
}

/* line 35, ../../sass/partials/_reset.scss */
.mr5 {
  margin-right: 5px;
}

/* line 38, ../../sass/partials/_reset.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 41, ../../sass/partials/_reset.scss */
.ml5 {
  margin-left: 5px;
}

/* line 44, ../../sass/partials/_reset.scss */
.mtb5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 48, ../../sass/partials/_reset.scss */
.mlr5 {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 32, ../../sass/partials/_reset.scss */
.mt10 {
  margin-top: 10px;
}

/* line 35, ../../sass/partials/_reset.scss */
.mr10 {
  margin-right: 10px;
}

/* line 38, ../../sass/partials/_reset.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 41, ../../sass/partials/_reset.scss */
.ml10 {
  margin-left: 10px;
}

/* line 44, ../../sass/partials/_reset.scss */
.mtb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 48, ../../sass/partials/_reset.scss */
.mlr10 {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 32, ../../sass/partials/_reset.scss */
.mt15 {
  margin-top: 15px;
}

/* line 35, ../../sass/partials/_reset.scss */
.mr15 {
  margin-right: 15px;
}

/* line 38, ../../sass/partials/_reset.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 41, ../../sass/partials/_reset.scss */
.ml15 {
  margin-left: 15px;
}

/* line 44, ../../sass/partials/_reset.scss */
.mtb15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 48, ../../sass/partials/_reset.scss */
.mlr15 {
  margin-left: 15px;
  margin-right: 15px;
}

/* line 32, ../../sass/partials/_reset.scss */
.mt20 {
  margin-top: 20px;
}

/* line 35, ../../sass/partials/_reset.scss */
.mr20 {
  margin-right: 20px;
}

/* line 38, ../../sass/partials/_reset.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 41, ../../sass/partials/_reset.scss */
.ml20 {
  margin-left: 20px;
}

/* line 44, ../../sass/partials/_reset.scss */
.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 48, ../../sass/partials/_reset.scss */
.mlr20 {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 32, ../../sass/partials/_reset.scss */
.mt25 {
  margin-top: 25px;
}

/* line 35, ../../sass/partials/_reset.scss */
.mr25 {
  margin-right: 25px;
}

/* line 38, ../../sass/partials/_reset.scss */
.mb25 {
  margin-bottom: 25px;
}

/* line 41, ../../sass/partials/_reset.scss */
.ml25 {
  margin-left: 25px;
}

/* line 44, ../../sass/partials/_reset.scss */
.mtb25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 48, ../../sass/partials/_reset.scss */
.mlr25 {
  margin-left: 25px;
  margin-right: 25px;
}

/* line 32, ../../sass/partials/_reset.scss */
.mt30 {
  margin-top: 30px;
}

/* line 35, ../../sass/partials/_reset.scss */
.mr30 {
  margin-right: 30px;
}

/* line 38, ../../sass/partials/_reset.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 41, ../../sass/partials/_reset.scss */
.ml30 {
  margin-left: 30px;
}

/* line 44, ../../sass/partials/_reset.scss */
.mtb30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 48, ../../sass/partials/_reset.scss */
.mlr30 {
  margin-left: 30px;
  margin-right: 30px;
}

/* line 32, ../../sass/partials/_reset.scss */
.mt35 {
  margin-top: 35px;
}

/* line 35, ../../sass/partials/_reset.scss */
.mr35 {
  margin-right: 35px;
}

/* line 38, ../../sass/partials/_reset.scss */
.mb35 {
  margin-bottom: 35px;
}

/* line 41, ../../sass/partials/_reset.scss */
.ml35 {
  margin-left: 35px;
}

/* line 44, ../../sass/partials/_reset.scss */
.mtb35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

/* line 48, ../../sass/partials/_reset.scss */
.mlr35 {
  margin-left: 35px;
  margin-right: 35px;
}

/* line 32, ../../sass/partials/_reset.scss */
.mt40 {
  margin-top: 40px;
}

/* line 35, ../../sass/partials/_reset.scss */
.mr40 {
  margin-right: 40px;
}

/* line 38, ../../sass/partials/_reset.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 41, ../../sass/partials/_reset.scss */
.ml40 {
  margin-left: 40px;
}

/* line 44, ../../sass/partials/_reset.scss */
.mtb40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 48, ../../sass/partials/_reset.scss */
.mlr40 {
  margin-left: 40px;
  margin-right: 40px;
}

/* line 32, ../../sass/partials/_reset.scss */
.mt45 {
  margin-top: 45px;
}

/* line 35, ../../sass/partials/_reset.scss */
.mr45 {
  margin-right: 45px;
}

/* line 38, ../../sass/partials/_reset.scss */
.mb45 {
  margin-bottom: 45px;
}

/* line 41, ../../sass/partials/_reset.scss */
.ml45 {
  margin-left: 45px;
}

/* line 44, ../../sass/partials/_reset.scss */
.mtb45 {
  margin-top: 45px;
  margin-bottom: 45px;
}

/* line 48, ../../sass/partials/_reset.scss */
.mlr45 {
  margin-left: 45px;
  margin-right: 45px;
}

/* line 32, ../../sass/partials/_reset.scss */
.mt50 {
  margin-top: 50px;
}

/* line 35, ../../sass/partials/_reset.scss */
.mr50 {
  margin-right: 50px;
}

/* line 38, ../../sass/partials/_reset.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 41, ../../sass/partials/_reset.scss */
.ml50 {
  margin-left: 50px;
}

/* line 44, ../../sass/partials/_reset.scss */
.mtb50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 48, ../../sass/partials/_reset.scss */
.mlr50 {
  margin-left: 50px;
  margin-right: 50px;
}

/* line 32, ../../sass/partials/_reset.scss */
.mt55 {
  margin-top: 55px;
}

/* line 35, ../../sass/partials/_reset.scss */
.mr55 {
  margin-right: 55px;
}

/* line 38, ../../sass/partials/_reset.scss */
.mb55 {
  margin-bottom: 55px;
}

/* line 41, ../../sass/partials/_reset.scss */
.ml55 {
  margin-left: 55px;
}

/* line 44, ../../sass/partials/_reset.scss */
.mtb55 {
  margin-top: 55px;
  margin-bottom: 55px;
}

/* line 48, ../../sass/partials/_reset.scss */
.mlr55 {
  margin-left: 55px;
  margin-right: 55px;
}

/* line 32, ../../sass/partials/_reset.scss */
.mt60 {
  margin-top: 60px;
}

/* line 35, ../../sass/partials/_reset.scss */
.mr60 {
  margin-right: 60px;
}

/* line 38, ../../sass/partials/_reset.scss */
.mb60 {
  margin-bottom: 60px;
}

/* line 41, ../../sass/partials/_reset.scss */
.ml60 {
  margin-left: 60px;
}

/* line 44, ../../sass/partials/_reset.scss */
.mtb60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* line 48, ../../sass/partials/_reset.scss */
.mlr60 {
  margin-left: 60px;
  margin-right: 60px;
}

/* line 575, ../../sass/partials/_reset.scss */
.flt {
  float: left;
}

/* line 576, ../../sass/partials/_reset.scss */
.flr {
  float: right;
}

/* line 577, ../../sass/partials/_reset.scss */
.txt_l, td.txt_l, .txt_l td {
  text-align: left;
}

/* line 578, ../../sass/partials/_reset.scss */
.txt_r, td.txt_r, .txt_r td {
  text-align: right;
}

/* line 579, ../../sass/partials/_reset.scss */
.txt_c, td.txt_c, .txt_c td {
  text-align: center;
}

/* line 580, ../../sass/partials/_reset.scss */
.valign_t, td.valign_t, .valign_t td {
  vertical-align: top;
}

/* line 581, ../../sass/partials/_reset.scss */
.valign_m, td.valign_m, .valign_m td {
  vertical-align: middle;
}

/* line 582, ../../sass/partials/_reset.scss */
.valign_b, td.valign_b, .valign_b td {
  vertical-align: bottom;
}

/* line 583, ../../sass/partials/_reset.scss */
.clear {
  clear: both;
}

/* line 584, ../../sass/partials/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: block;
}

/* line 585, ../../sass/partials/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 586, ../../sass/partials/_reset.scss */
.clearfix {
  zoom: 1;
}

/*------------------------------------------------------------------------------*/
