@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\000032}}
html, body {
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
  background: #3d3d3d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3d3d3d 0%, #212121 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d3d3d), color-stop(100%, #212121));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3d3d3d 0%, #212121 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3d3d3d 0%, #212121 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3d3d3d 0%, #212121 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3d3d3d 0%, #212121 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#212121',GradientType=0 );
  /* IE6-9 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\0000318}}
a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\0000320}}
a:visited {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\0000326}}
#wrapper {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\0000330}}
.blur {
  -webkit-filter: blur(8px);
}

/*   #albums   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\0000335}}
#albums {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.55);
  opacity: 0;
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -o-transform: scale(2, 2);
  transform: scale(2, 2);
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\0000348}}
#albums.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\0000354}}
.album {
  float: left;
  margin: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 3;
  font-size: 14px;
  text-shadow: 0 1px 1px black;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\0000366}}
.album .wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 30px black;
  border: 6px solid #f8f8f8;
  background: white;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\0000375}}
.album .wrapper img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\0000381}}
.album .wrapper img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\0000388}}
#prevbtn, #nextbtn {
  width: 15%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\0000398}}
#prevbtn {
  left: 0;
  top: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(163, 163, 163, 0.8) 32%, white 50%, rgba(163, 163, 163, 0.8) 68%, rgba(0, 0, 0, 0) 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003105}}
#prevbtn:hover {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003109}}
#nextbtn {
  right: 0;
  top: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(163, 163, 163, 0.8) 32%, white 50%, rgba(163, 163, 163, 0.8) 68%, rgba(0, 0, 0, 0) 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003116}}
#nextbtn:hover {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003120}}
#nextbtn:hover #rightArrow {
  background-position: 50% 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003124}}
#prevbtn:hover #leftArrow {
  background-position: 50% 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003128}}
#leftArrow {
  height: 100%;
  width: 100%;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  background-image: url("../images/leftArrow.png");
  background-repeat: no-repeat;
  background-position: 60% 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003137}}
#rightArrow {
  height: 100%;
  width: 100%;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  background-image: url("../images/rightArrow.png");
  background-repeat: no-repeat;
  background-position: 40% 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003146}}
.fl {
  float: left;
  padding: 10px 0;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003152}}
.fr {
  position: absolute;
  padding: 0 10px;
  font-size: 12px;
  right: 0;
  bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003160}}
.fr button {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.42);
  -webkit-transition: 0.2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003170}}
.fr button:hover {
  color: white;
  text-shadow: 0 0 15px white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003175}}
.fr button.hover {
  color: white;
  text-shadow: 0 0 15px white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003180}}
#show-photos {
  padding-left: 30px;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003185}}
#show-albums {
  padding-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003189}}
#config {
  padding-left: 21px;
  padding-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003194}}
#logo {
  padding: 0 30px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003197}}
#logo img {
  height: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003202}}
.upperpart {
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003209}}
.underpart {
  height: 33px;
  padding: 8px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003215}}
#indicator {
  position: absolute;
  height: 3px;
  background-color: #fff;
  width: 44px;
  top: 0;
  left: 11px;
  box-shadow: 0 0 15px white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003225}}
#footer {
  position: fixed;
  bottom: -58px;
  width: 100%;
  font-family: Verdana;
  background-image: url("../images/bg_black.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003233}}
#footer .title {
  font-size: 12px;
  color: #ededed;
  padding: 0 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003239}}
#img-container {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003242}}
#img-container img {
  float: left;
  display: block;
  margin: 0 3px;
  position: relative;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003249}}
#img-container img:hover {
  box-shadow: 0 0 0 3px white inset;
}

/*#controlPanel*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003257}}
#controlPanel li, #controlPanel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003263}}
#controlPanel {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 70px;
  right: 65px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 12px;
  -webkit-perspective: 2000;
  -moz-perspective: 2000;
  -ms-perspective: 2000;
  -o-perspective: 2000;
  perspective: 2000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003277}}
#controlPanel .left {
  float: left;
  background: rgba(25, 25, 25, 0.8);
  width: 120px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003283}}
#controlPanel .right {
  float: right;
  background: #0098F5;
  width: 60px;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003290}}
#controlPanel .left, #controlPanel .right {
  /*margin-top: 2px;*/
  position: relative;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003296}}
#controlPanel .options li {
  width: 60px;
  float: left;
  text-align: center;
  padding: 10px;
  display: block;
  background: #0098F5;
  border-right: 1px solid #0085f3;
  cursor: pointer;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003310}}
#controlPanel .options li:hover {
  background: #f3c200;
  border-right: 1px solid #f3c200;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003317}}
#controlPanel .options {
  visibility: hidden;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  width: 80px;
  opacity: 0;
  -webkit-transform-origin: right 50%;
  -moz-transform-origin: right 50%;
  -ms-transform-origin: right 50%;
  -o-transform-origin: right 50%;
  transform-origin: right 50%;
  -webkit-transform: rotateY(-80deg);
  -moz-transform: rotateY(-80deg);
  -ms-transform: rotateY(-80deg);
  -o-transform: rotateY(-80deg);
  transform: rotateY(-80deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 1, 1, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.215, 1.355, 1, 1.54);
  -moz-transition-timing-function: cubic-bezier(0.215, 1.355, 1, 1.54);
  -ms-transition-timing-function: cubic-bezier(0.215, 1.355, 1, 1.54);
  -o-transition-timing-function: cubic-bezier(0.215, 1.355, 1, 1.54);
  transition-timing-function: cubic-bezier(0.215, 1.355, 1, 1.54);
  /* custom */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003337}}
#controlPanel .right:hover .options {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  opacity: 1;
  visibility: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003343}}
#controlPanel > li {
  display: block;
  margin-bottom: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003348}}
#controlPanel > li::after {
  content: '';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003356}}
#controlPanel .options .current {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.38) inset;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/phorest\/app\/webroot\/css\/frontsite\/sass\/index\.scss}line{font-family:\00003360}}
#click-receiver {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
}
