/* line 6, ../sass/index.scss */
html, body {
  height: 100%;
  width: 100%;
  background-color: #54a6bc;
}

/* line 12, ../sass/index.scss */
#wrapper {
  position: relative;
  height: 100%;
}

/* line 17, ../sass/index.scss */
h1, p {
  margin: 0;
}

/* line 22, ../sass/index.scss */
input[type="text"] {
  outline: none;
  padding: 13px 10px;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  color: #3D3D3D;
  margin-top: 0;
  margin-bottom: 16px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 34, ../sass/index.scss */
input:focus {
  -webkit-box-shadow: 0 0 5px #b9ff5e;
  -moz-box-shadow: 0 0 5px #b9ff5e;
  box-shadow: 0 0 5px #b9ff5e;
}

/* line 38, ../sass/index.scss */
a:visited {
  color: #919191;
}

/* line 42, ../sass/index.scss */
button {
  background-color: #7ac717;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #6bb60a;
  outline: none;
  color: #fafafa;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 30px;
  margin: 0;
  margin-bottom: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 54, ../sass/index.scss */
button:hover {
  background-color: #81d11b;
}
/* line 57, ../sass/index.scss */
button:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.32) inset;
  background-color: #75c212;
}

/* line 63, ../sass/index.scss */
#form-container {
  position: relative;
  overflow: hidden;
  height: 280px;
  width: 376px;
}
/* line 68, ../sass/index.scss */
#form-container .left {
  float: left;
}
/* line 71, ../sass/index.scss */
#form-container .right {
  position: relative;
  border-left: 1px solid #fdfdfd;
  background-color: #f7f7f7;
  float: left;
  width: 215px;
  height: 230px;
  padding: 25px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}
/* line 81, ../sass/index.scss */
#form-container .right input {
  width: 193px;
}
/* line 85, ../sass/index.scss */
#form-container .triangle {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 17.5px 17px 17.5px 0;
  border-color: transparent #f7f7f7 transparent transparent;
  top: 52px;
  left: 94px;
}
/* line 95, ../sass/index.scss */
#form-container .triangle.bottom {
  top: 192px;
}

/* line 101, ../sass/index.scss */
#form-wrapper {
  width: 376px;
  float: right;
  -webkit-box-shadow: 0 0 1px 5px rgba(255, 255, 255, 0.35);
  -moz-box-shadow: 0 0 1px 5px rgba(255, 255, 255, 0.35);
  box-shadow: 0 0 1px 5px rgba(255, 255, 255, 0.35);
}

/* line 107, ../sass/index.scss */
#title {
  float: left;
}

/* line 111, ../sass/index.scss */
#login-tab, #sign-up-tab {
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  color: #606060;
  width: 110px;
  height: 140px;
  background-color: #ECECEC;
  text-align: center;
}
/* line 122, ../sass/index.scss */
#login-tab.actived, #sign-up-tab.actived {
  color: #fafafa;
  font-weight: bold;
  background-color: #7ac717;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 10px 0 0 #5a9f00 inset;
  -moz-box-shadow: 10px 0 0 #5a9f00 inset;
  box-shadow: 10px 0 0 #5a9f00 inset;
}
/* line 130, ../sass/index.scss */
#login-tab.unactived:hover, #sign-up-tab.unactived:hover {
  -webkit-box-shadow: 130px 0 0 #a8e05f inset;
  -moz-box-shadow: 130px 0 0 #a8e05f inset;
  box-shadow: 130px 0 0 #a8e05f inset;
  color: #fafafa;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}
/* line 136, ../sass/index.scss */
#login-tab span, #sign-up-tab span {
  position: absolute;
  top: 84px;
  left: 0;
  display: block;
  width: 100%;
}

/* line 147, ../sass/index.scss */
#options ul {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  color: #707070;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
/* line 153, ../sass/index.scss */
#options ul #remember_me {
  width: auto;
}
/* line 156, ../sass/index.scss */
#options ul li {
  line-height: 2;
}

/* line 162, ../sass/index.scss */
#forms {
  position: absolute;
  top: 25px;
  left: 25px;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* line 169, ../sass/index.scss */
#forms.sign-up {
  top: -237px;
}
/* line 172, ../sass/index.scss */
#forms .passed {
  background-color: #E7FFD7;
}

/* line 177, ../sass/index.scss */
#header {
  padding: 20px;
  overflow: hidden;
  width: 870px;
  margin: 0 auto;
  position: relative;
  top: 20%;
}

/* line 186, ../sass/index.scss */
#title {
  color: white;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.55);
}
/* line 189, ../sass/index.scss */
#title h1 {
  font-size: 48px;
  padding-top: 18px;
  padding-bottom: 8px;
}
